<template>
	<div class="container" :class="{'container-show': initialized}">

		<SelectLetterNumber v-if="word === ''" 
			:setSelectedNumber="setSelectedNumber">
		</SelectLetterNumber>

		<PlayHangman v-else 
			:word="word">
		</PlayHangman>

	</div>
</template>

<script>
import { mapState } from 'vuex';

import SelectLetterNumber from './SelectLetterNumber';
import PlayHangman from './PlayHangman';
import words from '../assets/words.json';

export default {
	components: {
		SelectLetterNumber,
		PlayHangman
	},
	data() {
		return {
			initialized: false,
			characterNumber: -1
		};
	},
	mounted() {
		setTimeout(() => (this.initialized = true), 1);
	},
	computed: {
		...mapState(['word'])
	},
	methods: {
		setSelectedNumber(number) {
			const minCharacters = 8;
			const maxCharacters = 14;

			// Get character number
			this.characterNumber =
				number === 'random' ? minCharacters + Math.floor(Math.random() * (maxCharacters - minCharacters)) : parseInt(number);

			// Filter words by character length
			const filteredWords = words.filter((word) => word.length === this.characterNumber);

			// Find random word
			this.$store.commit('setWord', filteredWords[Math.floor(Math.random() * filteredWords.length)]);

			console.log('Your word: ', this.word);
		}
	}
};
</script>

<style lang="scss" scoped>
.container {
	width: 600px;
	height: 600px;
	margin: 64px auto;
	border-radius: 12px;
	background-color: #fff;
	transition: all 0.6s;
	overflow: hidden;

	opacity: 0;
	margin-top: 0;

	&.container-show {
		margin-top: 64px;
		opacity: 1;
	}

	@media only screen and (max-width: 600px) {
		border-radius: 0;
		max-width: 100vw;
		margin-top: 0;

		&.container-show {
			margin-top: 0;
		}
	}
}
</style>