<template>
	<div class="figure-image">
		<img :src="hangmanSvg" alt="Figure" />
	</div>
</template>

<script>
export default {
	props: {
		mistakes: Number
	},
	computed: {
		hangmanSvg() {
			return require('@/assets/figure/figure-' + this.mistakes + '.svg');
		}
	}
};
</script>

<style lang="scss" scoped>
.figure-image {
	width: 100%;
}
</style>