<template>
	<div class="header">
		<div class="logo-section">
			<img src="../assets/logo-white.svg" alt="Supercharge" />

			<span>Supercharge</span>
		</div>
	</div>
</template>

<style lang="scss" scoped>
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 64px;
	width: 100vw;
	background-color: #000;

	@media only screen and (max-width: 600px) {
		justify-content: center;
	}

	.logo-section {
		display: flex;
		align-items: center;
		margin: 0 48px;

		img {
			width: 48px;
			height: 48px;
		}

		span {
			margin: 0 24px;
			color: #fff;
			text-transform: uppercase;
			font-family: Helvetica;
			font-weight: normal;
			font-size: 1rem;
		}
	}
}
</style>