<template>
	<!-- Instroductions -->
	<div class="hangman-game-instroductions">
		<h1>The Hangman</h1>

		<img class="hangman-game-instroductions-figure" :src="hangmanInstroductionsFigure" alt="" />

		<h2>Game Instroductions</h2>

		<div class="hangman-game-instroductions-description">
			<p>Pick a random word from the attached list, and present the user with a number of empty squares, corresponding to the letters of the word. </p>
			<p>Allow the user to enter a letter.</p>
			<p>If the letter is included in the word, reveal every occurrence of it in the squares. If the word is complete, the user wins. </p>
			<p>If not, we have attached a drawing of a hangman. It should start out blank, and with each missed attempt you should reveal one more line. If the drawing is complete, the user loses.</p>
		</div>

		<button class="button-prm got-it-button" @click="hideInstroductions">Got it!</button>
	</div>
</template>

<script>
export default {
	props: {
		hideInstroductions: Function
	},
	computed: {
		hangmanInstroductionsFigure() {
			return require('@/assets/figure/figure-10.svg');
		}
	}
};
</script>

<style lang="scss" scoped>
.hangman-game-instroductions {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	left: 0;
	top: 0;
	margin: 16px;
	width: calc(100% - 32px);
	text-align: center;
	background-color: #fff;

	.hangman-game-instroductions-figure {
		width: 96px;
	}

	.hangman-game-instroductions-description {
		font-size: 0.8rem;
		color: #666;
	}

	.got-it-button {
		height: 32px;
		margin-bottom: 16px;
	}

	/* Buttons */
	.button-prm {
		outline: none;
		height: 48px;
		transition: all 0.3s;
		cursor: pointer;
		color: #fff;
		text-align: center;
		line-height: 48px;
		font-weight: bold;
		border: none;
		background-color: #000;

		&.selected {
			background-color: #666;
		}

		&:hover {
			background-color: #333;
		}
	}
}
</style>