<template>
	<div class="hangman"> 

		<!-- Header -->
		<div class="hangman-game-header">
			<div></div>
			<button class="instroductions-button" @click="showInstroductions = true">Instroductions <span>⟶</span></button>
		</div>

		<!-- Game -->
		<div class="hangman-game-content">
			<div class="hangman-figure-container">
				<HangmanFigure :mistakes="mistakes"></HangmanFigure>
			</div>

			<div class="hangman-game-container">
				<h1>The Hangman</h1>

				<!-- Loser or winner label -->
				<p class="winner" v-if="score >= wordCharacters.length">😎 You've won</p>
				<p class="loser" v-else-if="mistakes >= 10">😡 You've lost</p>

				<p class="info">It's a {{ wordCharacters.length }} letter word</p>

				<!-- Found characters -->
				<div class="hangman-game-characters">
					<div class="hangman-game-character" 
						v-for="(character, characterIndex) in wordCharacters" :key="characterIndex">
						<span v-if="usedCharacters.includes(character) || mistakes >= 10">{{ character }}</span>
					</div>
				</div>

				<p class="info">Play with a word</p>

				<!-- Keyboard -->
				<div class="hangman-game-keyboard">
					<div class="hangman-keyboard-character" 
						:class="{'used': usedCharacters.includes(character) || mistakes >= 10}" 
						@click="useCharacter(character)"
						v-for="(character, characterIndex) in keyboardCharacters" :key="characterIndex">
						<span>{{ character }}</span>
					</div>
				</div>

				<!-- Footer -->
				<div class="hangman-game-footer">
					<button class="button button-prm" @click="endGame()">End game</button>
					<button class="button button-sec" @click="startNewGame()">Start new game</button>
				</div>

			</div>
		</div>

		<Instroductions class="instroductions" 
			:hideInstroductions="() => showInstroductions = false"
			v-if="showInstroductions"
			:class="{'show-instroductions': showInstroductions}">
		</Instroductions>
	</div>
</template>

<script>
import { mapState } from 'vuex';
import HangmanFigure from './HangmanFigure.vue';
import Instroductions from './Instroductions.vue';

export default {
	components: {
		HangmanFigure,
		Instroductions
	},
	data() {
		return {
			//usedCharacters: [],
			keyboardCharacters: 'A B C D E F G H I J K L M N O P Q R S T U V X Y Z'.split(' '),
			//mistakes: 0,
			//score: 0,
			showInstroductions: false
		};
	},
	computed: {
		...mapState(['word', 'usedCharacters', 'mistakes', 'score']),

		wordCharacters() {
			return this.word.toUpperCase().split('');
		}
	},
	methods: {
		useCharacter(char) {
			// Do not use same character twice
			if (this.usedCharacters.includes(char)) return;

			// Do not add more characters if you lost the game
			if (this.mistakes >= 10) return;

			// Do not add more characters if you won the game
			if (this.score >= this.wordCharacters.length) return;

			// Populate score or mistakes
			if (this.wordCharacters.includes(char)) {
				// Add as score how many times the word contains the selected character
				this.$store.commit('setScore', this.score + this.wordCharacters.filter((c) => c === char).length);
			} else {
				this.$store.commit('setMistakes', this.mistakes + 1);
			}

			// Add to used characters
			this.$store.commit('setUsedCharacters', [...this.usedCharacters, ...char]);
		},

		startNewGame() {
			this.$store.commit('setWord', '');
			this.$store.commit('setMistakes', 0);
			this.$store.commit('setScore', 0);
			this.$store.commit('setUsedCharacters', []);
		},

		endGame() {
			this.$store.commit('setMistakes', 10);
		}
	}
};
</script>

<style lang="scss">
.hangman {
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 16px;

	.hangman-game-header {
		display: flex;
		justify-content: space-between;

		button.instroductions-button {
			text-transform: uppercase;
			outline: none;
			border: none;
			background: none;
			font-size: 0.8rem;
			cursor: pointer;
			color: #333;

			span {
				font-size: 1.2rem;
			}
		}
	}

	.hangman-game-content {
		display: flex;

		/* Figure */
		.hangman-figure-container {
			max-width: 200px;
			min-width: 128px;
			width: 25%;
			height: 100%;
			padding-right: 28px;
			margin-top: 16px;
		}

		.hangman-game-container {
			margin-left: 16px;

			h1 {
				margin-bottom: 32px;
			}

			p.info {
				margin-top: 2rem;
				margin-bottom: 0.4rem;
				letter-spacing: 0.01rem;
			}

			.winner {
				color: green;
				font-weight: bold;
			}

			.loser {
				color: red;
				font-weight: bold;
			}

			/* Found characters */
			.hangman-game-characters {
				display: flex;
				flex-wrap: wrap;

				.hangman-game-character {
					border: 2px solid #000;
					width: 32px;
					height: 32px;
					margin-bottom: 4px;
					line-height: 32px;
					text-align: center;
					margin-right: 4px;
				}
			}

			/* Keyboard */
			.hangman-game-keyboard {
				display: flex;
				flex-wrap: wrap;

				.hangman-keyboard-character {
					border: 2px solid #000;
					width: 32px;
					height: 32px;
					line-height: 32px;
					text-align: center;
					margin-right: 4px;
					margin-bottom: 4px;
					cursor: pointer;
					transition: all 0.3s;

					&.used {
						opacity: 0.3;
						cursor: default;
					}

					&:hover:not(&.used) {
						background-color: #aaa;
					}
				}
			}
		}
	}

	.hangman-game-footer {
		padding-top: 24px;
		.button {
			margin-right: 16px;
			min-width: 120px;
		}
	}

	/* Buttons */
	.button-prm {
		outline: none;
		height: 48px;
		transition: all 0.3s;
		cursor: pointer;
		color: #fff;
		text-align: center;
		line-height: 48px;
		font-weight: bold;
		border: none;
		background-color: #000;

		&.selected {
			background-color: #666;
		}

		&:hover {
			background-color: #333;
		}
	}

	.button-sec {
		-webkit-box-shadow: 0px 0px 15px 5px #ddd;
		box-shadow: 0px 0px 15px 5px #ddd;
		outline: none;
		height: 48px;
		transition: all 0.3s;
		cursor: pointer;
		color: #333;
		text-align: center;
		line-height: 48px;
		font-weight: bold;
		outline: none;
		border: none;

		&.selected {
			background-color: #999;
		}

		&:hover {
			background-color: #aaa;
		}
	}
}

.instroductions {
	transition: all 0.3s;
	height: 100%;

	&.show-instroductions {
		display: block;
		opacity: 1;
		top: 0;
	}
}
</style>