<template>
	<div class="letter-number-section">
		<h1 class="headline">The Hangman</h1>

		<p class="info">Let's play <b>Hangman!</b> <br/> How many letters do you want in <br/> your word?</p>

		<div class="number-selector">
			<button class="button-sec random" :class="{selected: selectedNumber === 'random'}" @click="selectNumber('random')">Random</button>

			<button class="button-sec number-1" :class="{selected: selectedNumber === '8'}" @click="selectNumber('8')">8</button>
			<button class="button-sec number-2" :class="{selected: selectedNumber === '9'}" @click="selectNumber('9')">9</button>
			<button class="button-sec number-3" :class="{selected: selectedNumber === '10'}" @click="selectNumber('10')">10</button>
			<button class="button-sec number-4" :class="{selected: selectedNumber === '11'}" @click="selectNumber('11')">11</button>
			<button class="button-sec number-5" :class="{selected: selectedNumber === '12'}" @click="selectNumber('12')">12</button>
			<button class="button-sec number-6" :class="{selected: selectedNumber === '13'}" @click="selectNumber('13')">13</button>
		</div>


		<button class="button-prm lets-play-button" @click="letsPlay(selectedNumber)">
			Let's play
		</button>

		<p class="info" v-show="pleaseSelectNumberValidation">Please select a number</p>
	</div>
</template>

<script>
export default {
	props: {
		setSelectedNumber: Function
	},
	data() {
		return {
			selectedNumber: '',
			pleaseSelectNumberValidation: false
		};
	},
	methods: {
		selectNumber(number) {
			this.selectedNumber = number;
			this.pleaseSelectNumberValidation = false;
		},

		letsPlay(number) {
			if (number === '') {
				this.pleaseSelectNumberValidation = true;
				return;
			}

			this.setSelectedNumber(number);
		}
	}
};
</script>

<style lang="scss" scoped>
$numberButtonWidth: 48px;

.letter-number-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 16px;

	h1.headline {
		font-size: 2.5rem;
		width: 100%;
		text-align: center;
	}

	p.info {
		text-align: center;
		color: #444;
		line-height: 22px;
		font-weight: 100;
	}

	.number-selector {
		width: ($numberButtonWidth + 6) * 3;
		margin-top: 16px;

		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		gap: 8px 8px;
		grid-template-areas:
			'Number-1 Number-2 Number-3'
			'Number-4 Number-5 Number-6'
			'Random Random Random';

		.random {
			grid-area: Random;
		}
		.number-1 {
			grid-area: Number-1;
		}
		.number-2 {
			grid-area: Number-2;
		}
		.number-3 {
			grid-area: Number-3;
		}
		.number-4 {
			grid-area: Number-4;
		}
		.number-5 {
			grid-area: Number-5;
		}
		.number-6 {
			grid-area: Number-6;
		}
	}

	.lets-play-button {
		width: ($numberButtonWidth + 6) * 3;
		height: 24px;
		margin-top: 48px;
	}

	.button-prm {
		outline: none;
		height: 48px;
		transition: all 0.3s;
		cursor: pointer;
		color: #fff;
		text-align: center;
		line-height: 48px;
		font-weight: bold;
		border: none;
		background-color: #000;

		&.selected {
			background-color: #666;
		}

		&:hover {
			background-color: #333;
		}
	}

	.button-sec {
		-webkit-box-shadow: 0px 0px 15px 5px #ddd;
		box-shadow: 0px 0px 15px 5px #ddd;
		outline: none;
		height: 48px;
		transition: all 0.3s;
		cursor: pointer;
		color: #333;
		text-align: center;
		line-height: 48px;
		font-weight: bold;
		outline: none;
		border: none;

		&.selected {
			background-color: #999;
		}

		&:hover {
			background-color: #aaa;
		}
	}
}
</style>