<template>
	<div class="content">

		<div class="supercharge-background">
			<div class="background-logo bottom-left-logo"></div>
			<div class="background-logo top-right-logo"></div>
		</div>

		<div class="application">
			<Header class="header"></Header>

			<Game class="game"></Game>
		</div>

	</div>
</template>

<script>
import Header from './components/Header.vue';
import Game from './components/Game.vue';

export default {
	name: 'App',
	components: {
		Header,
		Game
	}
};
</script>

<style lang="scss">
$background-color: rgb(31, 31, 31);

.content {
	position: relative;
	height: 100vh;
	background-color: $background-color;

	.supercharge-background {
		position: fixed;
		left: 0;
		top: 0;
		width: 100vw;
		height: 100vh;

		.background-logo {
			width: 512px;
			height: 512px;
			transition: all 0.3s;

			&.bottom-left-logo {
				position: absolute;
				bottom: -128px;
				left: -128px;
				background: url('./assets/logo-grey.svg');
			}

			&.top-right-logo {
				position: absolute;
				right: -128px;
				top: -128px;
				background: url('./assets/logo-grey.svg');
			}

			@media only screen and (max-width: 600px) {
				width: 300px;
				height: 300px;
			}
		}
	}

	.application {
		position: absolute;
	}

	.header {
		z-index: 1;
	}
}
</style>
